{% extends '@WebFormModule/Admin/_layout.html.twig' %}

{% block content %}

<div class="box box-primary">
    <div class="box-header with-border">

    <h3>{{ 'Edit field'|trans }}: &laquo;{{ web_form_field.title }}&raquo;</h3>

        <a href="../"><i class="fa fa-arrow-circle-o-left"></i> назад к списку всех полей</a>

        {% include '@CMS/Form/default.html.twig' %}
    </div>
</div>

    {% include '@CMS/_tool/ace_editor.html.twig' with {'form_element': 'monolith_module_webform_field_params_yaml'} %}

{% endblock content %}
